* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #8fbfae;  
    font-family: 'Arial', sans-serif;
}

.container {
    text-align: center;
    padding-top: 35px;
}

.title {
    color: #085d3f;
    font-size: 60px;
    margin-bottom: 30px;
}

.reset {
    width: 200px;
    height: 60px;
    border: none;
    border-radius: 30px;
    outline: none;
    cursor: pointer;
    font-size: 24px;
    color: black;
    background-color: rgba(235, 175, 10, 0.86);
    font-weight: bold;
    transition: background-color 0.3s ease;
    margin-top: 8px;
}

.reset:hover {
    background-color: rgba(238, 222, 76, 0.86);
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 150px);  /* Create a 3-column grid */
    gap: 15px;
    margin: 0 auto;
    justify-content: center;
    padding-bottom: 30px;
}

.boxes {
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 2px solid #ffffff;
    margin-top: 12px;
}



.boxes img {
    width: 180px;
    height: 180px;
}

.title{
    margin-top: 1px;
}
.title img {
    height: 50px;
    width: 50px;  
 }

@media (max-width: 600px) {
    .board {
        grid-template-columns: repeat(3, 100px);  
    }

    .boxes {
        width: 100px;
        height: 100px;
    }

    .boxes img {
        width: 80px;
        height: 80px;
    }

    .title {
        font-size: 40px;
    }

    .reset {
        width: 160px;
        height: 50px;
        font-size: 20px;
    }
}


